.taskName {
    color: var(--gray-100);
    height: min-content;
    margin: auto 0;
}

.completeTaskName {
    text-decoration: line-through;
    color: var(--gray-300);
    margin: auto 0;
    height: min-content;
}

.taskList {
    display: grid;
    gap: 16px;
}

.defaultContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    font-size: var(--sm);
    font-family: var(--inter);
    white-space: normal;
    max-width: 704px;
    word-break: break-word;
    text-align: start;
    cursor: pointer;
}

.checkedContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-500);
    border-radius: 8px;
    font-size: var(--sm);
    font-family: var(--inter);
    white-space: normal;
    max-width: 704px;
    word-break: break-word;
    text-align: start;
    cursor: pointer;
}

p {
    margin: 0 12px;
}

.leftContent {
    display: flex;
    gap: 12px;
    margin-right: 12px;
}

.trash {
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--gray-300);
    font-size: var(--md);
    transition: color 300ms;
    padding: 6px;
    cursor: pointer;
    height: fit-content;
}

.trash:hover {
    color: var(--danger);
    background-color: var(--gray-400);
}

.input {
    appearance: none;
    margin: 0;
    display: none;
}

.defaultInput {
    height: 15px;
    min-width: 15px;
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 25px;
    cursor: pointer;
    margin-top: 6px;
}

.defaultInput:hover {
    border: 2px solid var(--blue-dark);
}

.defaultInput:hover::before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background-color: var(--blue-dark);
    opacity: 20%;
}

.checkedInput {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    min-width: 15px;
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 6px;
}

.checkedInput:hover {
    background-color: var(--purple);
    border: 2px solid var(--purple);;
}