.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 64px;
}

.tasksCreated, .completedTasks {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tasksCreated {
    color: var(--blue);
}

.completedTasks {
    color: var(--purple);
}

.text {
    font-size: var(--sm);
    font-weight: bold;
    font-family: var(--inter);
}

.counterDefault {
    background-color: var(--gray-300);
    padding: 3px 8px;
    border-radius: 20px;
    color: var(--gray-100);
    font-size: var(--xsm);
    font-weight: bold;
    font-family: var(--inter);
}
.counter {
    background-color: var(--gray-500);
    padding: 3px 8px;
    border-radius: 20px;
    color: var(--gray-100);
    font-size: var(--xsm);
    font-weight: bold;
    font-family: var(--inter);
}