.header {
    display: flex;
    gap: 18px;
    margin: 20px 0;
}

.tasksCreated, .completedTasks {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tasksCreated {
    color: var(--blue);
}

.completedTasks {
    color: var(--iris-100);
}

.text {
    font-size: var(--sm);
    font-weight: var(--bold);
    font-family: var(--poppins);
    color: var(--gray-200);
    margin: 0;
}

.counterDefault {
    background-color: var(--gray-200);
    padding: 2px 7px;
    border-radius: 20px;
    color: var(--gray-600);
    font-family: var(--poppins);
    font-size: var(--xsm);
    font-weight: bold;
}
.counter {
    background-color: var(--gray-200);
    padding: 2px 7px;
    border-radius: 20px;
    color: var(--gray-600);

    font-size: var(--xsm);
    font-weight: bold;
    font-family: var(--poppins);
}