.container {
    display: flex;
    gap: 1rem;
}

.input {
    max-width: 610px;
    width: 100%;
    padding: 16px;
    border: 0;
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-300);
    font-size: var(--sm);
    font-family: var(--montserrat);
}

.input:focus {
    outline: 2px solid var(--iris-60);
}

.button {
    border: 0;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    outline: none;
    font-family: var(--montserrat);
    font-weight: var(--bold);
    font-size: var(--sm);
    text-transform: uppercase;
    color: var(--gray-100);
    background-color: var(--iris-100);
    transition: background-color 500ms;
}

.button:hover {
    background-color: var(--iris-80);
}

.button:focus {
    outline: transparent;
}

.icon {
    font-size: var(--md)
}