.container {
    display: flex;
    gap: 1rem;
    margin-top: -65px;
}

.input {
    max-width: 736px;
    width: 100%;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-300);
    font-size: var(--md);
    padding: 16px;
}

.input:focus {
    outline: 1px solid var(--purple-dark);
}

.button {
    color: var(--gray-100);
    background-color: var(--blue-dark);
    font-family: var(--inter);
    font-size: var(--sm);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 0;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 500ms;
}

.button:hover {
    background-color: var(--blue);
}

.button:focus {
    outline: transparent;
}

.icon {
    font-size: var(--md)
}