#root {
  text-align: center;
}

.main {
  max-width: 736px;
  margin: 0 auto;
  padding: 40px;
  height: 100%;
}
.darkBlock {
  background-color: var(--gray-700);
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}