#root {
  text-align: center;
}

.main {
  gap: 20px;
  max-width: 736px;
  margin: 0 auto;
}

.divider {
  display: block;
  min-height: 1px;
  background-color: var(--gray-400);
  width: auto;
  margin: 20px 0;
} 