.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 64px 0;
    border: solid 1px transparent;
    border-radius: 8px;
}

.icon {
    height: 165px;
}

.title, .subtitle {
    color: var(--gray-300);
    font-family: var(--poppins);
    margin: 0;
}

.title {
    font-size: var(--mm);
    font-weight: bold;
}

.subtitle {
    font-size: var(--sm);
}
